In [1]:
import pandas as pd

In [20]:
df = pd.read_parquet("/Users/fahad/Desktop/processed_data/combined_data6.parquet")

In [21]:
dropped_cols = ['id', 'conversationId','source','sourceUrl','sourceLabel', 'cashtags', 'vibe', 'inReplyToTweetId', 'viewCount', 'retweetedTweet', 'links', 'lang', 'media', 'quotedTweet', 'inReplyToUser', 'mentionedUsers', 'card' ]

df.drop(columns=dropped_cols, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034 entries, 0 to 7033
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              7034 non-null   object
 1   date             7034 non-null   datetime64[ns, UTC]
 2   rawContent       7034 non-null   object
 3   renderedContent  7034 non-null   object
 4   user             7034 non-null   object
 5   replyCount       7034 non-null   int64
 6   retweetCount     7034 non-null   int64
 7   likeCount        7034 non-null   int64
 8   quoteCount       7034 non-null   int64
 9   coordinates      556 non-null    object
 10  place            556 non-null    object
 11  hashtags         6187 non-null   object
 12  filename         7034 non-null   object
 13  filepath         7034 non-null   object
dtypes: datetime64[ns, UTC](1), int64(4), object(9)
memory usage: 769.5+ KB

In [27]:
user = list(df['user'])

In [28]:
user_df = pd.json_normalize(user)

In [29]:
user_df_dropped_cols = ['descriptionLinks', 'displayname', 'favouritesCount', 'id', 'label', 'listedCount', 'profileBannerUrl', 'profileImageUrl', 'protected', 'username', 'statusesCount', 'link.indices', 'link.tcourl', 'link.text', 'link.url', 'link']
user_df.drop(user_df_dropped_cols, inplace=True, axis=1)

In [8]:
df = pd.concat([df, user_df], axis=1)

In [9]:
df.drop('user', inplace=True, axis=1)

In [10]:
coordinates = list(df['coordinates'])

In [11]:
coordinates_df = pd.json_normalize(coordinates)

In [12]:
df = pd.concat([df, coordinates_df], axis=1)

In [13]:
df.drop('coordinates', inplace=True, axis=1)

In [14]:
place = list(df['place'])

In [15]:
place_df = pd.json_normalize(place)

In [16]:
place_df.drop('id', inplace=True, axis=1)

In [17]:
df = pd.concat([df, place_df], axis=1)

In [18]:
df.drop('place', inplace=True, axis=1)

In [19]:
df.to_parquet("/Users/fahad/Desktop/preprocessed_data/processed_data7.parquet")