In [1]:
import pandas as pd
import os
import re
import numpy as np

# Combining data

In [36]:
df = pd.read_parquet(r"C:\Users\fashaikh\Desktop\Thesis main\selected_data\selectedData23.parquet")

In [37]:
df.columns

Index(['date', 'rawContent', 'id', 'category'], dtype='object')

In [27]:
df.rename(columns={"category_y": "category"}, inplace=True)

In [29]:
df.to_parquet(r"C:\Users\fashaikh\Desktop\Thesis main\selected_data\selectedData30.parquet")

In [6]:
df.columns

Index(['url', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card', 'viewCount', 'vibe', 'bookmarkCount', 'filename',
       'filepath'],
      dtype='object')

In [5]:
df['filepath'].value_counts()

filepath
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-05-01_2020-06-01_top.parquet    94
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-07-01_2020-08-01_top.parquet    93
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-02-01_2021-03-01_top.parquet    92
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-03-01_2021-04-01_top.parquet    91
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-11-01_2020-12-01_top.parquet    90
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-08-01_2020-09-01_top.parquet    87
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-06-01_2022-07-01_top.parquet    86
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-10-01_2021-11-01_top.parquet    86
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-06-01_2020-07-01_top.parquet    86
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-11-01_2022-12-01_top.parquet    86
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-09-01_2022-10-01_top.parquet    86
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-05-01_2022-06-01_top.parquet    85
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-04-01_2021-05-01_top.parquet    85
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-08-01_2022-09-01_top.parquet    84
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-10-01_2022-11-01_top.parquet    84
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-10-01_2020-11-01_top.parquet    83
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-12-01_2021-01-01_top.parquet    83
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-01-01_2022-02-01_top.parquet    82
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-07-01_2022-08-01_top.parquet    82
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-08-01_2021-09-01_top.parquet    82
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2020-09-01_2020-10-01_top.parquet    81
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-06-01_2021-07-01_top.parquet    81
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-11-01_2021-12-01_top.parquet    81
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-03-01_2022-04-01_top.parquet    81
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-05-01_2021-06-01_top.parquet    80
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-09-01_2021-10-01_top.parquet    80
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-12-01_2022-01-01_top.parquet    78
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-04-01_2022-05-01_top.parquet    78
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-01-01_2021-02-01_top.parquet    76
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-12-01_2023-01-01_top.parquet    76
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2022-02-01_2022-03-01_top.parquet    72
/Users/fahad/Desktop/data/Thesis data/Top/BLM_2021-07-01_2021-08-01_top.parquet    67
Name: count, dtype: int64

In [46]:
df['category'] = df['FilePath'].apply(lambda x: os.path.basename(os.path.dirname(x)))

In [6]:
df['category'] = df['FilePath'].apply(lambda path: path.split("/")[6])

In [6]:
df['category'] = "Big Cities"

In [7]:
df['category'].value_counts()

category
Big Cities    2658
Name: count, dtype: int64

In [8]:
df['category'].isna().sum()

0

In [8]:
df = df[["date", "rawContent", "id", "category"]]

In [34]:
df['category'] = df['category'].apply(lambda value: re.search(r'BLM_(.*?)_\d{4}-\d{2}-\d{2}_\d{4}-\d{2}-\d{2}\.parquet', value).group(1))

In [7]:
df['category'] = df['filename'].str.extract(r'BLM_(.*?)_\d{4}-\d{2}-\d{2}_\d{4}-\d{2}-\d{2}')

In [8]:
df['category'] = df['category'].str.replace('County_', '')

In [22]:
df['category'] = df['filename'].str.replace('BLM_', '')

In [48]:
county_df = pd.read_csv('County-Type-Share.csv')
county_df.drop(columns=['county_cleaned', 'county_state', 'State', 'Type Number', 'FIPS', 'Type Number2', 'Key', 'New Names' ], inplace=True)
new_df = df.merge(county_df, how='left', left_on='category', right_on='County')

In [49]:
new_df['category_y'].value_counts()

category_y
Graying America           791185
Rural Middle America      252249
Evangelical Hubs          216134
College Towns             140069
Hispanic Centers           68057
Exurbs                     66065
Middle Suburbs             48035
Urban Suburbs              38060
Working Class Country      33093
Big Cities                 30042
African American South     26094
Aging Farmlands             8056
Military Posts              4025
LDS Enclaves                  18
Native American Lands          9
Name: count, dtype: int64

In [50]:
new_df['category_y'].isna().sum()

0

In [12]:
new_df['category_y'].fillna('Big Cities', inplace=True)

In [51]:
df = new_df[["date", "rawContent", "id", "category_y"]]

In [10]:
df.to_parquet(r"C:\Users\fashaikh\Desktop\Thesis main\selected_data\selectedData32.parquet")

# Cleaning Data

In [2]:
df = pd.read_parquet(r'C:\Users\fashaikh\Desktop\Thesis main\combined_data.parquet')

In [3]:
df.head()

,date,rawContent,id,category
0,2022-12-30 19:13:04+00:00,"@ohmybeautybank skintype : combi to dry, oily ...",1608904017383653377,African American South
1,2022-12-30 13:17:11+00:00,Really sitting with these inquiry questions th...,1608814457924513792,African American South
2,2022-12-30 02:40:41+00:00,@IanVRowe Narrative feeds Democrats propaganda...,1608654278281023488,African American South
3,2022-12-30 02:32:16+00:00,"@Jack_Royston @cbouzy ""Criticized"". Ms. Weiss ...",1608652157020147712,African American South
4,2022-12-30 01:28:06+00:00,@RepMTG LIAR!!! PROPAGANDA!!! Only domestic te...,1608636011390840832,African American South

In [9]:
df['category'].value_counts()

category
Big Cities                6942499
Graying America           4731866
Rural Middle America      1557254
Exurbs                    1341199
Evangelical Hubs          1019493
College Towns              939110
Middle Suburbs             299360
Hispanic Centers           299139
Urban Suburbs              249073
Working Class Country      168364
African American South      96221
Aging Farmlands             68476
Military Posts              24460
Native American Lands       11830
LDS Enclaves                 6899
Name: count, dtype: int64

In [6]:
df[df['date'] >= '2022-12-01'].drop_duplicates('id', inplace=True)

C:\Users\fashaikh\AppData\Local\Temp\ipykernel_15756\4288224649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['date'] >= '2022-12-01'].drop_duplicates('id', inplace=True)

In [7]:
filtered_df = df[df['date'] >= '2022-12-01']

In [8]:
filtered_df.drop_duplicates('id', inplace=True)

C:\Users\fashaikh\AppData\Local\Temp\ipykernel_15756\3313486687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop_duplicates('id', inplace=True)

In [9]:
df = df[df['date'] < '2022-12-01']

In [10]:
df = pd.concat([df,filtered_df])

In [ ]:
df.to_parquet(r'C:\Users\fashaikh\Desktop\Thesis main\combined_data.parquet')